[access]
	inheritFrom = sdc
[project]
	description = A React UI library containing different components, fonts and styles used by SDC and the different designers in order to create a single look and feel across SDC
[access "refs/*"]
	owner = group ldap/onap-gerrit-sdc-onap-ui-react-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
