[access]
	inheritFrom = All-Projects
[project]
	description = A React UI library containing different components, fonts and styles used by SDC and the different designers in order to create a single look and feel across SDC\n\nArchived as per IT-20537
	state = read only
[access "refs/*"]
	owner = group ldap/onap-gerrit-sdc-onap-ui-react-committers
	owner = group saml/onap-gerrit-sdc-onap-ui-react-committers
	read = deny group GitHub Replication
[submit]
	action = rebase if necessary
[plugin "its-jira"]
	enabled = true
